name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '8'
          java-package: jdk
          architecture: x64
      - name: Test with Maven
        run: mvn test
        env:
          OSDU_URL: ${{ secrets.OSDU_URL }}
          COGNITO_ID: ${{ secrets.COGNITO_ID }}
          OSDU_USERNAME: ${{ secrets.OSDU_USERNAME }}
          OSDU_PASSWORD: ${{ secrets.OSDU_PASSWORD }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          DATA_PARTITION: ${{ secrets.DATA_PARTITION }}